<!DOCTYPE HTML>
<html lang="en-US">
	<head>
	
		<meta charset="UTF-8">
		<title>JOB WORLD</title>
		
		<link rel="stylesheet" href="Home.css" />

		
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div id="header">
					<h2>Job World</h2>
					<br>
					<p>Find Your Dream Job</p>
				</div>
			</header>
			<nav>
				<div id="nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Search</a></li>
						<li><a href="singup.html">Sing In</a></li>
						<li><a href="register.html">Sing Up</a></li>
						<li><a href="#">About Us</a></li>
					</ul>
				</div>
			</nav>
			<section>
				<div id="slider">
					<img src="img/job1.jpg" alt="Flower Image" />
				</div>
			</section>
			<br>
			<br>

			<section>
				<div id = "se_option">
					<h3>Find a job</h3>
					<select style="width:150px">
					<option value="" selected="selected">location</option>
					<option value="1">Anywhere/Remote</option>
					<option value="2">Dhaka</option>
					<option value="3">Chattagong</option>
					<option value="4">Rajshahi</option>
					<option value="5">Bogura</option>
					<option value="6">Barisal</option>
					<option value="7">Maymensing</option>
					<option value="8">Sylet</option>
					<option value="9">Comilla</option>
					<option value="10">Narayangong</option>
					<option value="11">Shariat pur</option>
					<option value="12">Kulna</option>
					<option value="13">Nator</option>
					<option value="14">Madaripur</option>
					<option value="15">Gopalgong</option>
					</select>

					<select style="width:150px">
					<option value="" selected="selected">job types</option>
					<option value="1">Full-time employment</option>
					<option value="2">Short-term contract</option>
					<option value="3">Internship</option>
					<option value="4">Freelance or consulting</option>
					<option value="5">Volunteer contributor</option>
					<option value="6">Partner for a venture</option>
					</select>

					<select style="width:150px">
					<option value="" selected="selected">category</option>
					<option value="1">Programming</option>
					<option value="2">Interaction Design</option>
					<option value="3">Graphic Design</option>
					<option value="4">Testing</option>
					<option value="5">Systems Administration</option>
					<option value="6">Business/Management</option>
					<option value="7">Writer/Editor</option>
					<option value="8">Customer Support</option>
					<option value="9">Mobile (iPhone, Android, other)</option>
					<option value="10">Office Administration</option>
					</select>

					<input type="text" placeholder="Pay Amount">
					<input type="text" placeholder="Company Name">
					<button type="submit">Search</button>
				</div>
			</section>
			<br>
			<br>
			
		</div>
	</body>
</html>